body {
    background-color: aquamarine;
    background-image: -o-repeating-linear-gradient(aquamarine, red, black, blue);
}

.fancy_wave {
    width: 100px;
    height: 30px;
    outline-color: black;
}